/****************************************************************************
FILE          : windebug.rc
LAST REVISED  : February 14, 2001
SUBJECT       : Resource script for the WinDebug component.
PROGRAMMER    : Peter Chapin <spicacality@kelseymountain.org>

This resource script contains the definition of resources that pertain to the WinDebug debugging
window. To insure that WinDebug can locate its resources, you should include this resource
script into the resource script of the entire application. See the documentation of WinDebug,
windebug.htm, for more information.
****************************************************************************/

#include "windebug.rh"

/* The icon used by the debugging window. */
DEBUG_ICON ICON "windebug.ico"

/* The menu on the debugging window. */
DEBUG_MENU MENU
{
 POPUP "&File"
 {
  MENUITEM "&Configure...", DEBUG_CONFIGURE
  MENUITEM "Save &Buffer...", DEBUG_SAVEBUFFER
  MENUITEM "&Start Saving Log...", DEBUG_STARTSAVE
  MENUITEM "S&top Saving Log", DEBUG_STOPSAVE
  MENUITEM SEPARATOR
  MENUITEM "E&xit Application", DEBUG_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "Cu&t", DEBUG_CUT
  MENUITEM "&Copy", DEBUG_COPY
 }

 POPUP "&Help"
 {
  MENUITEM "&Help Topics", DEBUG_HELPTOPICS
  MENUITEM SEPARATOR
  MENUITEM "&About", DEBUG_ABOUT
 }

}

